<div class="p-4">
  <section class="edit-site">
    <div class="container card">
      <div class="jumbotron" style="background:white;">
        <div class="form-group">
          <h6 style="color: #bbbbbb;">To unlock updates section your profile must have 100 thumbs up to post</h6>
        </div>
        <button type="button" disabled class="btn btn-primary btn-sm" style="float: right;background:#145394 ; color:white">
          Post
        </button>
      </div>
    </div>
  </section>
  <!--<section class="edit-site">
    <div class="container card">
      <div class="jumbotron" style="background:white;">
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <span class="count-badge" style="color: #cccccc;">
              <a href="#" class="fa fa-camera" style="color: #cccccc;"></a> AddPhotos</span>
        <br/>
        <button type="button" class="btn btn-primary btn-sm" style="float: right;background:#145394 ; color:white">
          Post
        </button>
      </div>
    </div>
  </section>-->
</div>
