.header {
  background: white;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;

  p {
    font-size: 20px;
    font-weight: 900;
  }
}



.navbar {
  background: #F3F3F3;
  margin-bottom: 0px;
  border-bottom: 1px solid #5C5C5C;
  ul li a {
    font-weight: 900;
    padding-left: 30px;
    padding-right: 30px;
    color: #7A7A7A;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    &:hover {
      color: white;
      background: #145394;
      border-radius: 4px;
    }
  }
}
