<section class="edit-site" style="margin-top: 15px;background-color: white">
  <div class="container" style="background:#F3F3F3;min-width: 90%">
    <div class="row ">
      <div class="col-xs-offset-10 col-sm-offset-10 col-md-offset-10 col-lg-offset-10 col-xs-12 col-sm-12 col-md-12 col-lg-12"
        style="padding-right: 0px;margin-top: 12px">
        <button type="button" class="btn btn-default  btn-disabled pull-right editButton ">
          EDIT
        </button>
      </div>
    </div>
    <div class="row" style="background:#F3F3F3">
      <div class="col-md-3">
        <div class="avatar-upload">
          <div class="avatar-edit">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload"></label>
          </div>
          <div class="avatar-preview">
            <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-lg-9 intro" style="margin-top: 2%;">
        <h1 style="color: #5C5C5C; font-size:32px">Mr Narendra Modi</h1>
        <p style="color: #5C5C5C; font-size:18px">
          Prime Minister of India
        </p>
        <p style="color: #5C5C5C; font-size:18px; line-height:3px">Bahujan Samaj Party(BJP)</p>
        <br/>

      </div>
    </div>
    <div class="row" style="background:#F3F3F3; height:35px">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      </div>
    </div>
  </div>
</section>
<section class="edit-site" style="margin-top: 15px;background-color: white">
  <div class="container" style="min-width: 90%;">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <ul class="nav nav-tabs flex-lg-column menuStyle">

          <li>
            <a class="nav-link" href="index.html" role="tab">Getting Started</a>
          </li>

          <li>
            <a class="nav-link" href="file-structure.html" role="tab">File Structure</a>
          </li>

          <li>
            <a class="nav-link" href="gulp.html" role="tab">Gulp</a>
          </li>

          <li>
            <a class="nav-link" href="plugins.html" role="tab">Plugins</a>
          </li>
        </ul>
      </div>
      <div class="col-md-9 col-lg-9 intro" style="margin-top: 2%;">
        <div class="row">
          <div class="col-xs-2 col-md-4 col-lg-2">
            <strong>State/UT</strong>
          </div>
          <div class="col-xs-8 col-md-6 col-lg-6 ">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="row spacing">
          <div class="col-xs-2 col-md-4 col-lg-2">
            <strong>Party</strong>
          </div>
          <div class="col-xs-8 col-md-6 col-lg-6 ">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="row spacing">
          <div class="col-xs-2 col-md-4 col-lg-2">
            <strong>Date of Birth</strong>
          </div>
          <div class="col-xs-8 col-md-6 col-lg-6 ">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your date of birth">
          </div>
        </div>
        <div class="row spacing">
          <div class="col-xs-2 col-md-4 col-lg-2">
            <strong>Qualification</strong>
          </div>
          <div class="col-xs-8 col-md-6 col-lg-6 ">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your qualification">
          </div>
        </div>
        <div class="row spacing">
          <div class="col-xs-2 col-md-4 col-lg-2">
            <strong>Occupation</strong>
          </div>
          <div class="col-xs-8 col-md-6 col-lg-6 ">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your occupation">
          </div>
        </div>
        <div class="row spacing">
          <div class="col-xs-2 col-md-4 col-lg-2">
            <strong>Present Address</strong>
          </div>
          <div class="col-xs-8 col-md-6 col-lg-6 ">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your address">
          </div>
        </div>
        <div class="row spacing">
          <div class="col-xs-2 col-md-4 col-lg-2">
            <strong>Present Address Landline NO.</strong>
          </div>
          <div class="col-xs-8 col-md-6 col-lg-6 ">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your landline NO.">
          </div>
        </div>
        <div class="row spacing">
          <div class="col-xs-2 col-md-4 col-lg-2">
            <strong>Permanent Address</strong>
          </div>
          <div class="col-xs-8 col-md-6 col-lg-6 ">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your address">
          </div>
        </div>
        <div class="row spacing">
          <div class="col-xs-2 col-md-4 col-lg-2">
            <strong>FAX NO.</strong>
          </div>
          <div class="col-xs-8 col-md-6 col-lg-6 ">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your fax NO.">
          </div>
        </div>
        <div class="row spacing">
          <div class="col-xs-2 col-md-4 col-lg-2">
            <strong>Mobile NO.</strong>
          </div>
          <div class="col-xs-8 col-md-6 col-lg-6 ">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your mobile NO.">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<tabset >
  <tab heading="Static title">Static content</tab>
  <tab heading="Static Title 1">Static content 1</tab>
  <tab heading="Static Title 2">Static content 2</tab>
  <tab heading="Static Title 3">Static content 3</tab>
</tabset>