<section style="margin-top: 15px;">
  <div class="container">

    <div class="row" style="background:#F3F3F3;">
      <div class="col-xs-offset-10 col-sm-offset-10 col-md-offset-10 col-lg-offset-10 col-xs-12 col-sm-12 col-md-12 col-lg-12"
        style="padding-right: 0px;">
        <button type="button" class="btn btn-default  btn-disabled pull-right" style="background:#278274; color:white;">
          <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:white"></span> 4.1/5
        </button>
      </div>
    </div>
    <div class="row" style="background:#F3F3F3">
      <div class="col-md-3">
        <img class="img-responsive img-circle" width="160px" height="160px" alt="Mr Narendra Modi" src="assets/Images/x-02.png" style="margin:0 auto">
        <br>
        <div class="vote">
          <button type="button" class="btn btn-default btn-lg btn-disabled" style="background:white; color:#5C5C5C;">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color:#278274"></span> 0
          </button>

          <button type="button" class="btn btn-default btn-lg btn-disabled" style="background:white; color:#5C5C5C;">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style="color:#C2202A"></span> 0
          </button>
        </div>
      </div>
      <div class="col-md-9 col-lg-9 intro">
        <h1 style="color: #5C5C5C; font-size:32px">Mr Narendra Modi</h1>
        <h3 style="color: #5C5C5C; font-size:18px">
          <strong>Prime Minister of India</strong>
        </h3>
        <h3 style="color: #5C5C5C; font-size:18px; line-height:3px">Bahujan Samaj Party(BJP)</h3>
        <br>
        <br>

        <button type="button" class="btn btn-default btn-lg" style="background:#145394 ; color:white">
          <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:white"></span> Rate this Leader
        </button>

      </div>
    </div>
    <div class="row" style="background:#F3F3F3; height:35px">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-6 col-lg-5">
      <nav class="navbar profile">
        <div class="container">
          <ul class="nav navbar-nav">
            <li>
              <a class="active" href="#">ABOUT</a>
            </li>
            <li>
              <a>PERSONAL</a>
            </li>
            <li>
              <a>WORK</a>
            </li>
            <li>
              <a>RATING</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-6 col-lg-7">

      <div class="sharebtn">
        <button type="button" class="btn btn-default btn-lg" style="float: right;background:#F3F3F3 ; color: #5C5C5C; border:0;">
          <span class="glyphicon glyphicon-share-alt" aria-hidden="true" style="color: #5C5C5C;"></span> Share Profile
        </button>
      </div>

    </div>
  </div>
</div>
<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
    Button dropdown
    <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
    <li role="menuitem">
      <a class="dropdown-item" href="#">Action</a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Another action</a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Something else here</a>
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div>








<div>

  <tabset #staticTabs>
    <tab heading="UPDATES">
      <section class="edit-site">
        <div class="container card">
          <div class="jumbotron" style="background:white;">
            <div class="form-group">
              <h6 style="color: #bbbbbb;">To unlock updates section your profile must have 100 thumbs up to post</h6>
            </div>
            <button type="button" disabled class="btn btn-primary btn-sm" style="float: right;background:#145394 ; color:white">
              Post
            </button>
          </div>
        </div>
      </section>
      <section class="edit-site">
        <div class="container card">
          <div class="jumbotron" style="background:white;">
            <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <span class="count-badge" style="color: #cccccc;">
              <a href="#" class="fa fa-camera" style="color: #cccccc;"></a> AddPhotos</span>
            <br/>
            <button type="button" class="btn btn-primary btn-sm" style="float: right;background:#145394 ; color:white">
              Post
            </button>
          </div>
        </div>
      </section>
    </tab>
    <tab heading="ABOUT">
      <section class="edit-site">
        <div class="container card">
          <div class="card-body">
            <div class="row">
              <div>
                <h6 class="page-header">ABOUT</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>State/UT</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">sam@gmail.com</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Date Of Birth</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">8-1-1994</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Qualification</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">B.SC.LLB</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Occupation</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">Advocate</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Permanent Address</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">2,Shreeji Nagar Riya roadr,Rajkot</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Landline NO.</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">4656564</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>FAX NO.</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">4656564</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Mobile NO.</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">4656564</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Email Id</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">sam@g.c</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Website</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">Facebook.com</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Follow</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">
                <span class="count-badge">
                  <a href="#" class="fa fa-facebook" style="color: white;"></a>
                </span>
                <span class="count-badge">
                  <a href="#" class="fa fa-twitter" style="color: white;"></a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>

    </tab>
    <tab heading="PERSONAL">
      <section class="edit-site">
        <div class="container card">
          <div class="card-body">
            <div class="row">
              <div>
                <h6 class="page-header">PERSONAL</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Marital Status</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">sam@gmail.com</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong> Date Of Marriage</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">8-1-1994</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Spouse's Name</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">Soonnam</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Father's Name</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">Anile</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Mother's Name</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">Karinal khan</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>No. Of Children</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">4</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>No. Of Criminal Cases</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">4</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Special Interests</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">Music,Riding,Bollywood</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Countries Visited</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">INd,PAK,USA,CANADA</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-4 col-lg-2">
                <strong>Social & Cultural Activities</strong>
              </div>
              <div class="col-xs-8 col-md-8 col-lg-10 ">Facebook.com</div>
            </div>
          </div>
        </div>
      </section>
    </tab>
    <tab heading="WORK">WORK content 3</tab>
    <tab heading="RATING">
      <section class="edit-site">
        <div class="container card">
          <div class="row card-body">
            <h6 class="page-header">RATING</h6>
          </div>
          <div class="card-body" style="padding-left: 8%;padding-right: 8%">
            <div class="row">
              <div class="col-xs-2 col-md-2 col-lg-2">
                <strong>Overall Rating</strong>
              </div>
              <div class="col-xs-8 col-md-3 col-lg-3 ">
                <rating [max]="max" [readonly]="isReadonly"></rating>
              </div>
              <div class="col-xs-2 col-md-2 col-lg-2">
                <strong>Rated by:</strong>
              </div>
              <div class="col-xs-3 col-md-2 col-lg-2 ">10 People</div>
              <div class="col-xs-4 col-md-2 col-lg-2 ">
                <button type="button" class="btn btn-default btn-lg" style="background:#145394 ; color:white">
                  <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:white"></span> Rate this Leader
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-2 col-lg-2">
                <strong>Personal Image</strong>
              </div>
              <div class="col-xs-8 col-md-3 col-lg-3 ratings ">
                <rating [max]="max" [readonly]="isReadonly"></rating>
              </div>
              <div class="col-xs-2 col-md-2 col-lg-2">
                <strong>Accessibility</strong>
              </div>
              <div class="col-xs-8 col-md-4 col-lg-4 ">
                <rating [max]="max" [readonly]="isReadonly"></rating>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-2 col-lg-2">
                <strong>Party/Organisation Image</strong>
              </div>
              <div class="col-xs-8 col-md-3 col-lg-3 ">
                <rating [max]="max" [readonly]="isReadonly"></rating>
              </div>
              <div class="col-xs-2 col-md-2 col-lg-2">
                <strong>Activeness</strong>
              </div>
              <div class="col-xs-8 col-md-4 col-lg-4 ">
                <rating [max]="max" [readonly]="isReadonly"></rating>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-2 col-lg-2">
                <strong>Qualification</strong>
              </div>
              <div class="col-xs-8 col-md-3 col-lg-3 ">
                <rating [max]="max" [readonly]="isReadonly"></rating>
              </div>
              <div class="col-xs-2 col-md-2 col-lg-2">
                <strong>Work Performance</strong>
              </div>
              <div class="col-xs-8 col-md-4 col-lg-4 ">
                <rating [max]="max" [readonly]="isReadonly"></rating>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-md-2 col-lg-2">
                <strong>Honesty</strong>
              </div>
              <div class="col-xs-8 col-md-3 col-lg-3 ">
                <rating [max]="max" [readonly]="isReadonly"></rating>
              </div>
              <div class="col-xs-2 col-md-2 col-lg-2">
                <strong>Transparency</strong>
              </div>
              <div class="col-xs-8 col-md-4 col-lg-4 ">
                <rating [max]="max" [readonly]="isReadonly"></rating>
              </div>
            </div>
          </div>
        </div>
      </section>
    </tab>
  </tabset>
</div>

<section class="edit-site">
  <div class="container card">
    <div class="row card-body">
      <h6 class="page-header">Overall Rating</h6>
    </div>
    <div class="card-body" style="padding-left: 8%;padding-right: 8%">
      <div class="row">
        <div class="col-xs-2 col-md-4 col-lg-4">
          <strong>Overall Rating</strong>
        </div>
        <div class="col-xs-8 col-md-6 col-lg-6 ">
          <rating [max]="max" [readonly]="isReadonly"></rating>
        </div>
        <div class="col-xs-4 col-md-2 col-lg-2 ">

          <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:grey"></span> Clear

        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-4 col-lg-4">
          <strong>Personal Image</strong>
        </div>
        <div class="col-xs-8 col-md-6 col-lg-6 ">
          <rating [max]="max" [readonly]="isReadonly"></rating>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-4 col-lg-4">
          <strong>Party/Organisation Image</strong>
        </div>
        <div class="col-xs-8 col-md-6 col-lg-6 ">
          <rating [max]="max" [readonly]="isReadonly"></rating>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-4 col-lg-4">
          <strong>Qualification</strong>
        </div>
        <div class="col-xs-8 col-md-6 col-lg-6">
          <rating [max]="max" [readonly]="isReadonly"></rating>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-4 col-lg-4">
          <strong>Honesty</strong>
        </div>
        <div class="col-xs-8 col-md-6 col-lg-6">
          <rating [max]="max" [readonly]="isReadonly"></rating>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-4 col-lg-4">
          <strong>Accessibility</strong>
        </div>
        <div class="col-xs-8 col-md-6 col-lg-6">
          <rating [max]="max" [readonly]="isReadonly"></rating>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-4 col-lg-4">
          <strong>Work Performance</strong>
        </div>
        <div class="col-xs-8 col-md-6 col-lg-6">
          <rating [max]="max" [readonly]="isReadonly"></rating>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-4 col-lg-4">
          <strong>Transparency</strong>
        </div>
        <div class="col-xs-8 col-md-6 col-lg-6">
          <rating [max]="max" [readonly]="isReadonly"></rating>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-md-10 col-lg-10"></div>
        <div class="col-xs-4 col-md-2 col-lg-2 ">

          <button type="button" class="btn btn-default btn-lg" style="background:#145394 ; color:white">
            <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:white"></span> Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</section>